<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ocean.angel.tool.mapper.ChannelMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ocean.angel.tool.domain.entity.Channel">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="app_id" property="appId" />
        <result column="app_secret" property="appSecret" />
        <result column="status" property="status" />
        <result column="notes" property="notes" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, app_id, app_secret, status, notes, create_time, update_time
    </sql>

    <select id="listChannel" resultType="com.ocean.angel.tool.domain.vo.ChannelVO">
        SELECT
        id, name, app_id, app_secret, status, notes, create_time, update_time
        FROM channel
        ORDER BY id DESC
        LIMIT #{query.start},#{query.pageSize}
    </select>

    <select id="countChannel" resultType="java.lang.Integer">
        SELECT count(*) FROM channel
    </select>

</mapper>
